.shape-outside-container {
    font-family: var(--base-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
  }

  .shape-outside-container h1 {
    margin: var(--spacing-28) 0;
    font-size: var(--font-large);
    font-weight: bold;
    font-family: var(--base-font);
    text-align: center;
    text-decoration: none;
  }

  .shape-content {
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
  }

.circle-shape {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 14px;
    shape-outside: circle(50%);
    margin-bottom: 15px;
    background-position: center center; /* Aquí centrás la imagen */
    background-size: cover; /* Esto hace que se ajuste bien */
  }

  .circle-one{
    background-image: url(/images/slide-1.jpg);
  }

  .circle-two{
    background-image: url(/images/slide-2.jpg);
  }

  .circle-three{
    background-image: url(/images/slide-3.jpg);
  }


  .txt-carousel {
    font-size: 15px;
    font-family: var(--base-font);
    padding: 59px 0;
  }

.carousel-control-prev , .carousel-control-next{
    opacity:none;
}  


.carousel-control-next-icon, .carousel-control-prev-icon {
    position: absolute;
    bottom: 60%;
    background-color:var(--primary-solid);
}



.logo{
    height: 35px;
}

.section-title{
    font-family: var(--alternative-font);
    color: var(--dark-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:var(--spacing-20);
    font-weight: bold;
}

.card-title, .card-text {
    font-family: var(--alternative-font);
    color: var(--dark-solid);
    font-weight: bold;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-20)
}

.col{
    flex: 1 1 250px;
    max-width: 250px;
    height: 340px;
}
 
.card {
    display: block;
    width: 200px;
    height: 340px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d4;
    transition: transform 0.3s ease-in-out;
} 

.card:hover{
    transform: translateY(-10px);
}


.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
} 

.card-body{
    padding: var(--spacing-16);
} 

  /* Responsive adjustments */
  @media (max-width: 640px) {
    .circle-shape {
      width: 150px;
      height: 150px;
    }
    
    .shape-title {
      font-size: 2rem;
    }
    
    .shape-text {
      font-size: 1rem;
    }
  }
  
  @media (min-width:768px){
    .circle-shape{
        width: 300px;
        height: 300px;
    }
  }