.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    height: 54vh;
}

.carousel-item{
    width:100%;
    margin-right:0;
}

.active{
   text-decoration: none;
}

.carousel-item .active {
    display: block;
}

.carousel-content{
    width: 82w;
    height: 60vh;
    border: 1px solid blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-img{
   width: 500px;
    border: 2px solid red;
    /* max-width: 800px;
    margin: auto; */
   
}

.carousel-img img{
    object-fit: cover;
    width: 217px;
    height:131px;
    clip-path: circle(50%);
}

.carousel-text{
    /* display: flex;
    flex-direction: column; */
    border: 1px solid green;
    height: 200px;
    width: 153px; 
}

.carousel-text h1{
    font-size: var(--font-small);
}

.txt-carousel{
    font-family: var(--base-font);
    font-size: 12px;
    padding: 0 10px;
}

/* 
  .txt-carousel {
    font-size: clamp(16px, var(--font-medium), var(--font-large));
    font-family: var(--base-font);
  } */




.carousel-control-next-icon, .carousel-control-prev-icon {
    position: absolute;
    bottom: 60%;
}



.logo{
    height: 35px;
}

.section-title{
    font-family: var(--alternative-font);
    color: var(--dark-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:var(--spacing-20);
    font-weight: bold;
}

.card-title, .card-text {
    font-family: var(--alternative-font);
    color: var(--dark-solid);
    font-weight: bold;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-20)
}

.col{
    flex: 1 1 250px;
    max-width: 250px;
    height: 340px;
}


.card {
    /* display: block; */
    width: 200px;
    height: 340px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d4;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
}


.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
} 

.card-body{
    padding: var(--spacing-16);
}