.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
   
    font-family: var(--base-font);
    background-color: white;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-link-section {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-solid);
    font-weight: bold;
    font-size: var(--font-xsmall);
    padding: 0 10px;
}

.logo-container{
    margin-left: var(--spacing-8);
}

.logo {
   width: 20px;
} 

.active {
    text-decoration: underline;
}

.botonNavNoLogin {
    color: var(--primary-solid);
    border-radius: 30px;
    padding: var(--spacing-8) var(--spacing-20);
    border: 3px solid var(--primary-solid);
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
}

#botonRegistrate {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    /* padding-bottom: 13px; */
}

#botonIngresar {
    background-color: transparent;
    background-repeat: no-repeat;
    /* padding-bottom: 13px; */
}

.botonNavLogin {
    color: green;
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid green;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
}

#botonCerrarSesion {
    background-color: transparent;
    background-repeat: no-repeat;
}


 .huellitas {
    display: flex;
    align-items: center;
    gap: 10px;
} 

.texto-huellitas{
    font-weight: bold;
}

@media screen and (max-width: 575px){
    .nav-link-section{
        flex-direction: column;
        gap: var(--spacing-20);
    }

    .navbar-toggler{
        margin-right: 20px;
    }
    
}