
.titulo_misMascotas{
    font-style: italic;
}

.Listado_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Mascota_Container {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: auto;
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px #000000;
}

.Container_Foto_Mascota {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.Container_DatosMascota {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.Campo_Container_mascotas {
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}

.Titulo_Campo_mascotas {
    font-size: var(--font-small);
}

.Datos_Campo_mascotas {
    border-radius: 5px;
    margin: 0 10px;
}

.HC {
    color: var(--primary-solid);
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid var(--primary-solid);
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}


#boton-administrador{
    color: var(--primary-solid);
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid var(--primary-solid);
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 20px auto;
}